.bar-chart {
  background-color: #58d3f7;
}
.bar {
  display: inline-block;
  width: 20px;
  height: 75px;
  margin-right: 3px;
  background-color: RoyalBlue;
}
.demo_scale{
  background-color: darkgray;
}

.demo_hist{
  background-color: aquamarine;
}
